<div class="view">
<ul class="champions" style="float: left;">
    <li [class.selected]="champion === selectedchampion" *ngFor="let champion of champions" (click)="onSelect(champion) ">
        <span class="badge">{{champion.id}} </span>{{champion.name}}
    </li>
</ul>
<div *ngIf="selectedchampion" style="vertical-align: top; padding: 2em ;margin-left: 25em;">
    <h2 style="text-align: center">
	    {{selectedchampion.name | uppercase}} 
	  </h2>
    <img src={{selectedchampion.img}} style="height:50vh;float: right">
    <p>
{{selectedchampion.info}}
    </p>
    <button style="margin: auto" (click)="gotoDetail()">Read More...</button>
</div>

</div>