        .selected {
        background-color: #CFD8DC !important;
        color: white;
    }

    .view {
        width : 100%;
        height: 75%;
    }
    
    .champions {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        width: 25em;
        overflow: scroll;
        height: 100%;
    }
    
    .champions li {
        cursor: pointer;
        position: relative;
        left: 0;
        background-color: #EEE;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em; 
        border-radius: 4px;
    }
    
    .champions li.selected:hover {
        background-color: #BBD8DC !important;
        color: white;
    }
    
    .champions li:hover {
        color: #607D8B;
        background-color: #DDD;
        left: .1em;
    }
    
    .champions .text {
        position: relative;
        top: -3px;
    }
    
    .champions .badge {
        display: inline-block;
        font-size: small;
        color: white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #555555;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height: 1.8em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

